<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="box">
        <h4>Hệ thống nhận diện bệnh viêm phổi thông qua ảnh chụp X-Quang lồng ngực</h4>
        <form action="/uploadfiles/" enctype="multipart/form-data" method="post">
            <input name="file" type="file" multiple>
            <input type="submit">
        </form>
        <form action="/uploadfiles/" enctype="multipart/form-data" method="post" onsubmit="return_false">
            <p>Kết quả nhận diện </p>
            <button></button>
        </form>
    </div>
</body>
</html>